// Classes
.show {
    display: block !important;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.invisible {
    visibility: hidden;
}

.modalAlertText {
    border: solid 1px darkgray;
}
